<div class="container image">
	<img src="{{coverimg}}">
</div>

<div class="container main-body">
	<h2 class="section-head">{{name}} - Rules</h2>
	<div class="row">
		<div class="">
			<div *ngIf="competitionId === 1">
				<ul class="rules-description">
					<li><b>Theme</b> - <b>Golden Era of Bollywood</b> - Tracks used should be from the Golden Era of Bollywood (1940s-1970s). </li>
					<li><b>Styles</b> - All except classical dance.</li>
					<li><b>Time Limit</b> - 1.5 - 2 mins.</li>
				</ul>
			</div>
			<div *ngIf="competitionId === 2">
				<ul style="list-style-type:none">
					<li>
						<h3> Themes </h3>
						<ul class="rules-description" >
							<li> <b>My Future Self </b> - Write to your 50-year-old self. </li>
							<li> <b>My Fav Character</b> - Write to your favorite movie character. </li>
						</ul>
					</li>
					<br>
					<li>
						<h3> Rules </h3>
						<ul class="rules-description">
							<li> <b>Team Size </b> : Solo </li>
							<li> Entries can be based on any one of the above themes but must be in English only, and should <b>not be more than 40 words.</b> </li>
							<li>Your entry must be an entirely new creation.</li>
							<li>Refrain from using swears and abusive language.</li>
						</ul>
					</li>
				</ul>
			</div>
			<div *ngIf="competitionId === 3">
				<ul class="rules-description">
					<li> <b>Team Size </b> : Solo </li>
					<li> This competition is for <b>females only.</b></li>
					<li>Photos must be taken after 6th May, 2020.</li>
				</ul>
			</div>
			<div *ngIf="competitionId === 4">
				<ul class="rules-description">
					<li> Use of backing tracks is not allowed. </li>
					<li> Time Limit: 1.5-2 minutes.</li>
					<li> Only English and Hindi languages are allowed.</li>
					<li>Purely classical piece is not allowed.</li>
					<li>Video must be recorded after 6th May, 2020</li>
					<li>Editing the video or using any kind of special effects is not allowed.</li>
				</ul>
			</div>
			<div *ngIf="competitionId === 5">
				<ul class="rules-description" >
					<li> <b>Team Size </b> : Solo </li>
					<li> <b>Theme </b> : <b>Golden Jubilee</b> - Design a logo celebrating 50th edition of Mood Indigo. </li>
				</ul>
			</div>
		</div>
	</div>
	<h2 class="section-head">SUBMISSION</h2>
	<div class="row">
		<div>
			<div *ngIf="competitionId === 1">
				<ul class="rules-description">
					<li>Upload video from your own public Instagram account.</li>
					<li>Tag <b>@iitbombay.moodi</b> and <b>@competitions.moodi</b> in the video.</li>
					<li>The hashtag <b>#indoorindigo</b> is to be used in the caption.</li>
					<li>Editing the video or using any kind of special effects is not allowed.</li>
				</ul>
			</div>
			<div *ngIf="competitionId === 2">
				<ul class="rules-description">
					<li>Write your piece on an image template shared here.</li>
					<li>To write your lines, upload the above image on Instagram as a story, and use the 'TYPEWRITER' font style. Download this story as an image and use it as your entry.</li>
					<li>Upload video from your own public Instagram account.</li>
					<li>Tag <b>@iitbombay.moodi</b> and <b>@competitions.moodi</b> in the post.</li>
					<li>The hashtag <b>#indoorindigo</b> is to be used in the caption.</li>
				</ul>
			</div>
			<div *ngIf="competitionId === 3">
				<ul class="rules-description">
					<li>Upload atleast 2 photos of yourselves.</li>
					<li>Photos should have atleast one each of - Full length body shot, Beauty shot.</li>
					<li>Upload these photos in a single post from your own <b>public</b> Instagram account.</li>
					<li>Tag <b>@iitbombay.moodi</b> and <b>@competitions.moodi</b> in the post.</li>
					<li>The hashtag <b>#indoorindigo</b> is to be used in the caption.</li>
				</ul>
			</div>
			<div *ngIf="competitionId === 4">
				<ul class="rules-description">
					<li>Upload video from your own <b>public</b> Instagram account.</li>
					<li>Tag <b>@iitbombay.moodi</b> and <b>@competitions.moodi</b> in the video.</li>
					<li>The hashtag <b>#indoorindigo</b> is to be used in the caption.</li>
					<!-- <li>Editing the video or using any kind of special effects is not allowed.</li> -->
				</ul>
			</div>
			<div *ngIf="competitionId === 5">
				<ul class="rules-description" >
					<li>Upload video from your own <b>public</b> Instagram account.</li>
					<li>Tag <b>@iitbombay.moodi</b> and <b>@competitions.moodi</b> in the post.</li>
					<li>The hashtag <b>#indoorindigo</b> is to be used in the caption.</li>
					<li>Mail your work to ujjwal@moodi.org in the .psd, .ai that you have used along with the .jpeg file of the same, with at least 3 stages of work.</li>
				</ul>
			</div>
		</div>
	</div>
	<h2 class="section-head">Deadline</h2>
	<div class="row">
		<div class="">
			<div>
				<ul class="rules-description" style="list-style-type:none">
					<li><h5 style="color:#272a59">20th May 2020, 11:59 PM</h5></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- <div class="container prizes-section">
	<h1 class="section-head">PRIZES & LYP</h1>
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<p class="description-text">{{prizes}}</p>
		</div>
	</div>
	
</div> -->

<div class="container">
	<h1 class="section-head">REGISTER NOW!</h1>
	<div class="row" *ngIf="!submitted">
		<div class="col-sm-12 col-md-6">
			<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
				<div class="form-group">
					<label class="form-label">Name</label>
					<input [class.is-invalid]="registrationForm.get('name').invalid && registrationForm.get('name').touched" formControlName="name" type="text" class="form-control" id="name-input">
					<small [class.d-none]="registrationForm.get('name').valid || registrationForm.get('name').untouched" class="text-danger">Name is required</small>
				</div>

				<div class="form-group">
					<label class="form-label">College</label>
					<input [class.is-invalid]="registrationForm.get('college').invalid && registrationForm.get('college').touched" formControlName="college" type="text" class="form-control" id="college-input">
					<small [class.d-none]="registrationForm.get('college').valid || registrationForm.get('college').untouched" class="text-danger">College is required</small>
				</div>

				<div class="form-group">
					<label class="form-label">City</label>
					<input [class.is-invalid]="registrationForm.get('city').invalid && registrationForm.get('city').touched" formControlName="city" type="text" class="form-control" id="city-input">
					<small [class.d-none]="registrationForm.get('city').valid || registrationForm.get('city').untouched" class="text-danger">City is required</small>
				</div>

				<div class="form-group">
					<label class="form-label">Contact</label>
					<input [class.is-invalid]="registrationForm.get('contact').invalid && registrationForm.get('contact').touched" formControlName="contact" type="text" class="form-control" id="contact-input">
					<div *ngIf="registrationForm.get('contact').invalid && registrationForm.get('contact').touched">
						<small *ngIf="registrationForm.get('contact').errors?.required && !registrationForm.get('contact').errors?.forbiddenName" class="text-danger">Contact Number is required</small>
						<small *ngIf="registrationForm.get('contact').errors?.forbiddenName" class="text-danger">Invalid Contact Number</small>
					</div>
				</div>

				<div class="form-group">
					<label class="form-label">Email</label>
					<input [class.is-invalid]="registrationForm.get('email').invalid && registrationForm.get('email').touched" formControlName="email" type="text" class="form-control" id="email-input">
					<div *ngIf="registrationForm.get('email').invalid && registrationForm.get('email').touched">
						<small *ngIf="registrationForm.get('email').errors?.required && !registrationForm.get('email').errors?.forbiddenName" class="text-danger">Email is required</small>
						<small *ngIf="registrationForm.get('email').errors?.forbiddenName" class="text-danger">Invalid Email Address</small>
					</div>
				</div>

				<div class="form-group">
					<label class="form-label">Id Card</label>
					<div class="choose-file">
						<label class="btn btn-primary submit-button">
							<input required [class.is-invalid]="registrationForm.get('idcard').invalid && registrationForm.get('idcard').touched"  type="file" class="form-control d-none" id="image-field" (change)="onFileChange($event)" onchange="$('#upload-file-info').html(this.files[0].name)">
							Choose File
						</label>
						<span class='label label-info description-text' id="upload-file-info"></span>
					</div>
				</div>
				<!-- <div class="form-group custom-control custom-checkbox">
					<input formControlName="checkbox" type="checkbox" class="custom-control-input" name="checkbox" id="checkbox-input" >
					<label for="checkbox-input" style="font-size:14px" class="custom-control-label description-text" id="checkbox-label">I hereby agree to the terms and Conditions</label>
				</div> -->

				<button [disabled]="!registrationForm.valid" class="btn btn-lg btn-primary submit-button" type="submit"> Submit</button>
			</form>
		</div>
	</div>

	<div class="row" *ngIf="submitted">
		<div class="col-sm-12 col-md-6">
			<p class="description-text" style="font-size: 16px">Thank you for submitting! Your response has been recorded!</p>
		</div>
	</div>

	<div class="row" *ngIf="errorOccured && !submitted">
		<div class="col-sm-12 col-md-6">
			<br>
			<p class="description-text text-danger" style="font-size: 16px">We are really sorry we are not able to process any requests right now. We'll be back soon!</p>
		</div>
	</div>
</div>

<br><br>
<div class="container">
	<h1 class="section-head">Have Questions? Contact us!</h1>
	<div  class="row">
		<div  *ngFor="let cg of cgs_list" class="col-sm-12 col-md-6 cgcontact">
			<div class="mycard">
				<a href="{{cg.contact}}"><img class="cgimage" src="{{cg.image}}"></a>
				<br><br>
				<h2 class="cgname">{{cg.name}}</h2>
				<!-- <p class="cgdescription">{{cg.description}}</p> -->
				<a href="" class="contactus"><img src="assets/midocs/facebook.svg"></a>
				<a href="" class="contactus"><img src="assets/midocs/instagram.svg"></a>
				<a href="" class="contactus"><img src="assets/midocs/twitter.svg"></a>
				<a href="tel:{{cg.phone}}" class="contactus"><i class="fas fa-phone"></i></a>
				<hr class="cgseparator">
			</div>
		</div>
	</div>

</div>