<div class="container image">
	<img src="{{coverimg}}">
</div>

<div class="container main-body">
	<h1>{{name}}</h1>
	<h2 class="section-head">Rules</h2>
	<div class="row">
		<div class="">
			<div *ngIf="competitionId === 1">
				<ul class="rules-description">
					<li><b>Theme - Golden Era of Bollywood (1940s-1970s).</b></li>
					<li><b>Lyrics should be present for atleast 1 minute in your track.</b></li>
					<li><b>Lyrics used in the track should only be from the songs of the Golden Era of Bollywood(1940s-1970s).</b></li>
					<li><b>Styles</b> - All styles are allowed</li>
					<li><b>Time Limit</b> - 2 mins.</li>
					<li>The video must be recorded after 5th May 2020.</li>
					<li>Editing the video or using any kind of special effects is not allowed.</li>
				</ul>
			</div>
			<div *ngIf="competitionId === 2">
				<ul class="rules-description">
					<li><b>Theme</b> - Covid-19 in space </li>
					<li><b>Team Size</b> - Solo</li>
					<li> Entries must be based on the above theme and must be in <b>English only</b>, and should <b>not be more than 40 words</b>. </li>
					<li>Your entry must be an entirely new creation. A discrepancy of any kind will lead to direct disqualification.</li>
					<li>Refrain from using swears and abusive language.</li>
				</ul>
			</div>
			<div *ngIf="competitionId === 3">
				<ul class="rules-description">
					<li> <b>Theme </b> : The first thing you are going to wear post-lockdown. </li>
					<li> <b>Team Size </b> : Solo </li>
					<li>Photos must be taken after 5th May, 2020.</li>
				</ul>
			</div>
			<div *ngIf="competitionId === 4">
				<ul class="rules-description">
					<li> <b>Theme </b> : A song that defines your quarantine mood </li>
					<li> <b>Time Limit</b> : 2 minutes.</li>
					<li> Only English and Hindi languages are allowed.</li>
					<li>Purely classical piece is not allowed.</li>
					<li> Backing tracks are not allowed. Audio cannot be processed or altered after recording. </li>
					<li>Video must be recorded after 5th May, 2020</li>
					<li>Editing the video or using any kind of special effects is not allowed.</li>
				</ul>
			</div>
			<div *ngIf="competitionId === 5">
				<ul class="rules-description" >
					<li> <b>Team Size </b> : Solo </li>
					<li> <b>Time Limit</b> : 2 minutes.</li>
					<li>Your entry must be an <b>original composition</b></li>
					<li> Only English and Hindi languages are allowed.</li>
					<li> Backing tracks are not allowed. Audio cannot be processed or altered after recording. </li>
					<li>Video must be recorded after 5th May, 2020</li>
					<li>Editing the video or using any kind of special effects is not allowed.</li>
					<li>Any sort of racist, sexist or offensive slurs will lead to disqualification.</li>
				</ul>
			</div>
			<div *ngIf="competitionId > 5">
				<ul class="rules-description" style="list-style-type:none" >
					<li><h3>Rules will be live on 21st May!</h3></li>
				</ul>
			</div>
		</div>
	</div>
	<h2 *ngIf="competitionId < 6" class="section-head">SUBMISSION</h2>
	<div class="row">
		<div>
			<div *ngIf="competitionId === 1">
				<ul class="rules-description">
					<li>Upload video from your own <b>public</b> Instagram account.</li>
					<li>Tag <b>@iitbombay.moodi</b> and <b>@competitions.moodi</b> in the video.</li>
					<li>The hashtag <b>#indoorindigo</b> is to be used in the caption.</li>
					<li>Tag 5 of your friends in the caption.</li>
				</ul>
			</div>
			<div *ngIf="competitionId === 2">
				<ul class="rules-description">
					<li>Write your piece on an image template shared <a target="blank" href="https://drive.google.com/open?id=1h5MqZ-G3aoqFSMgFDujpusMaf8F0ydB_">here</a>.</li>
					<li>To write your lines, upload the above image on Instagram as a story, and use the 'TYPEWRITER' font style. Download this story as an image and use it as your entry.</li>
					<li>Upload video from your own <b>public</b> Instagram account.</li>
					<li>Tag <b>@iitbombay.moodi</b> and <b>@competitions.moodi</b> in the post.</li>
					<li>The hashtag <b>#indoorindigo</b> is to be used in the caption.</li>
					<li>Tag 5 of your friends in the caption.</li>
				</ul>
			</div>
			<div *ngIf="competitionId === 3">
				<ul class="rules-description">
					<li>Upload atleast 2 photos of yourselves.</li>
					<li>Photos should have atleast one each of - <b>1) Full length body shot, 2) Beauty shot</b>.</li>
					<li>Upload these photos in a single post from your own <b>public</b> Instagram account.</li>
					<li>Tag <b>@iitbombay.moodi</b> and <b>@competitions.moodi</b> in the post.</li>
					<li>The hashtag <b>#indoorindigo</b> is to be used in the caption.</li>
					<li>Tag 5 of your friends in the caption.</li>
				</ul>
			</div>
			<div *ngIf="competitionId === 4">
				<ul class="rules-description">
					<li>Upload video from your own <b>public</b> Instagram account.</li>
					<li>Tag <b>@iitbombay.moodi</b> and <b>@competitions.moodi</b> in the video.</li>
					<li>The hashtag <b>#indoorindigo</b> is to be used in the caption.</li>
					<li>Tag 5 of your friends in the caption.</li>
				</ul>
			</div>
			<div *ngIf="competitionId === 5">
				<ul class="rules-description" >
					<li>Upload video from your own <b>public</b> Instagram account.</li>
					<li>Tag <b>@iitbombay.moodi</b> and <b>@competitions.moodi</b> in the post.</li>
					<li>The hashtag <b>#indoorindigo</b> is to be used in the caption.</li>
					<li>Tag 5 of your friends in the caption.</li>
				</ul>
			</div>
		</div>
	</div>
	<h2 *ngIf="competitionId < 6" class="section-head">Incentives</h2>
	<div *ngIf="competitionId < 6" class="row">
		<div class="deadline">
			<ul class="rules-description" >
				<li>Winning entries will get featured from the official Insta handle of Competitions at Mood Indigo.</li>
				<li>Winners will get a dedicated post from the official Insta handle of Mood Indigo.</li>
				<li>Winners will get a certificate of merit.</li>
			</ul>
		</div>
	</div>
	<br>
	<h2 *ngIf="competitionId < 6" class="section-head">Deadline</h2>
	<div *ngIf="competitionId < 6" class="row">
		<div class="deadline">
			<div>
				<ul class="rules-description" style="list-style-type:none">
					<li><h3 class="date" style="color:#272a59">20th May 2020, 11:59 PM</h3></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- <div class="container prizes-section">
	<h1 class="section-head">PRIZES & LYP</h1>
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<p class="description-text">{{prizes}}</p>
		</div>
	</div>
	
</div> -->

<div class="container">
	<h1 class="section-head">REGISTER NOW!</h1>
	<div class="row" *ngIf="!submitted">
		<div class="col-sm-12 col-md-6">
			<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
				<div class="form-group">
					<label class="form-label">Name</label>
					<input [class.is-invalid]="registrationForm.get('name').invalid && registrationForm.get('name').touched" formControlName="name" type="text" class="form-control" id="name-input">
					<small [class.d-none]="registrationForm.get('name').valid || registrationForm.get('name').untouched" class="text-danger">Name is required</small>
				</div>

				<div class="form-group">
					<label class="form-label">College</label>
					<input [class.is-invalid]="registrationForm.get('college').invalid && registrationForm.get('college').touched" formControlName="college" type="text" class="form-control" id="college-input">
					<small [class.d-none]="registrationForm.get('college').valid || registrationForm.get('college').untouched" class="text-danger">College is required</small>
				</div>

				<div class="form-group">
					<label class="form-label">City</label>
					<input [class.is-invalid]="registrationForm.get('city').invalid && registrationForm.get('city').touched" formControlName="city" type="text" class="form-control" id="city-input">
					<small [class.d-none]="registrationForm.get('city').valid || registrationForm.get('city').untouched" class="text-danger">City is required</small>
				</div>

				<div class="form-group">
					<label class="form-label">Contact</label>
					<input [class.is-invalid]="registrationForm.get('contact').invalid && registrationForm.get('contact').touched" formControlName="contact" type="text" class="form-control" id="contact-input">
					<div *ngIf="registrationForm.get('contact').invalid && registrationForm.get('contact').touched">
						<small *ngIf="registrationForm.get('contact').errors?.required && !registrationForm.get('contact').errors?.forbiddenName" class="text-danger">Contact Number is required</small>
						<small *ngIf="registrationForm.get('contact').errors?.forbiddenName" class="text-danger">Invalid Contact Number</small>
					</div>
				</div>

				<div class="form-group">
					<label class="form-label">Email</label>
					<input [class.is-invalid]="registrationForm.get('email').invalid && registrationForm.get('email').touched" formControlName="email" type="text" class="form-control" id="email-input">
					<div *ngIf="registrationForm.get('email').invalid && registrationForm.get('email').touched">
						<small *ngIf="registrationForm.get('email').errors?.required && !registrationForm.get('email').errors?.forbiddenName" class="text-danger">Email is required</small>
						<small *ngIf="registrationForm.get('email').errors?.forbiddenName" class="text-danger">Invalid Email Address</small>
					</div>
				</div>

				<div class="form-group">
					<label class="form-label">Upload your College Id Card</label>
					<div class="choose-file">
						<label class="btn btn-primary submit-button">
							<input required [class.is-invalid]="registrationForm.get('idcard').invalid && registrationForm.get('idcard').touched"  type="file" class="form-control d-none" id="image-field" (change)="onFileChange($event)" onchange="$('#upload-file-info').html(this.files[0].name)">
							Choose File
						</label>
						<span class='label label-info description-text' id="upload-file-info"></span>
					</div>
				</div>
				<!-- <div class="form-group custom-control custom-checkbox">
					<input formControlName="checkbox" type="checkbox" class="custom-control-input" name="checkbox" id="checkbox-input" >
					<label for="checkbox-input" style="font-size:14px" class="custom-control-label description-text" id="checkbox-label">I hereby agree to the terms and Conditions</label>
				</div> -->

				<button [disabled]="!registrationForm.valid" class="btn btn-lg btn-primary submit-button" type="submit"> Submit</button>
			</form>
			<p *ngIf="loading">Submitting, please wait...</p>
		</div>
	</div>

	<div class="row" *ngIf="submitted">
		<div class="col-sm-12 col-md-6">
			<p class="description-text" style="font-size: 16px">Thank you for submitting! Your response has been recorded!</p>
		</div>
	</div>

	<div class="row" *ngIf="errorOccured && !submitted">
		<div class="col-sm-12 col-md-6">
			<br>
			<p class="description-text text-danger" style="font-size: 16px">We are really sorry we are not able to process any requests right now. We'll be back soon!</p>
		</div>
	</div>
</div>

<br><br>
<div class="container">
	<h1 class="section-head">Have Questions? Contact us!</h1>
	<br>
	<div  class="row">
		<div  *ngFor="let cg of cgs_list" class="col-sm-12 col-md-6 cgcontact justify-space-between">
			<div class="mycard">
				<img class="cgimage" src="{{cg.image}}">
				<br><br>
				<h2 class="cgname">{{cg.name}}</h2>		
				<a href="{{cg.fb}}" class="contactus"><img src="assets/midocs/facebook.svg"></a>
				<a href="{{cg.insta}}" class="contactus"><img src="assets/midocs/instagram.svg"></a>
				<a href="https://api.whatsapp.com/send?phone=+91{{cg.phone}}" class="contactus"><img src="assets/midocs/whatsapp.svg"></a>
				<hr class="cgseparator">
			</div>
		</div>
	</div>

</div>