<div class="container image">
	<img src="{{coverimg}}">
</div>

<div class="container main-body">
	<h1 class="section-head">RULES AND REGULATIONS</h1>
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<p class="description-text">{{rulesandregulations}}</p>
		</div>
	</div>
</div>

<div class="container prizes-section">
	<h1 class="section-head">PRIZES & LYP</h1>
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<p class="description-text">{{prizes}}</p>
		</div>
	</div>
	
</div>

<div class="container">
	<h1 class="section-head">REGISTER NOW!</h1>
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
				<div class="form-group">
					<label class="form-label">Name</label>
					<input [class.is-invalid]="registrationForm.get('name').invalid && registrationForm.get('name').touched" formControlName="name" type="text" class="form-control" id="name-input">
					<small [class.d-none]="registrationForm.get('name').valid || registrationForm.get('name').untouched" class="text-danger">Name is required</small>
				</div>

				<div class="form-group">
					<label class="form-label">College</label>
					<input [class.is-invalid]="registrationForm.get('college').invalid && registrationForm.get('college').touched" formControlName="college" type="text" class="form-control" id="college-input">
					<small [class.d-none]="registrationForm.get('college').valid || registrationForm.get('college').untouched" class="text-danger">College is required</small>
				</div>

				<div class="form-group">
					<label class="form-label">City</label>
					<input [class.is-invalid]="registrationForm.get('city').invalid && registrationForm.get('city').touched" formControlName="city" type="text" class="form-control" id="city-input">
					<small [class.d-none]="registrationForm.get('city').valid || registrationForm.get('city').untouched" class="text-danger">City is required</small>
				</div>

				<div class="form-group">
					<label class="form-label">Contact</label>
					<input [class.is-invalid]="registrationForm.get('contact').invalid && registrationForm.get('contact').touched" formControlName="contact" type="text" class="form-control" id="contact-input">
					<div *ngIf="registrationForm.get('contact').invalid && registrationForm.get('contact').touched">
						<small *ngIf="registrationForm.get('contact').errors?.required && !registrationForm.get('contact').errors?.forbiddenName" class="text-danger">Contact Number is required</small>
						<small *ngIf="registrationForm.get('contact').errors?.forbiddenName" class="text-danger">Invalid Contact Number</small>
					</div>
				</div>

				<div class="form-group">
					<label class="form-label">Email</label>
					<input [class.is-invalid]="registrationForm.get('email').invalid && registrationForm.get('email').touched" formControlName="email" type="text" class="form-control" id="email-input">
					<div *ngIf="registrationForm.get('email').invalid && registrationForm.get('email').touched">
						<small *ngIf="registrationForm.get('email').errors?.required && !registrationForm.get('email').errors?.forbiddenName" class="text-danger">Email is required</small>
						<small *ngIf="registrationForm.get('email').errors?.forbiddenName" class="text-danger">Invalid Email Address</small>
					</div>
				</div>

				<div class="form-group">
					<label class="form-label">Id Card</label>
					<div class="choose-file">
						<label class="btn btn-primary submit-button">
							<input required [class.is-invalid]="registrationForm.get('idcard').invalid && registrationForm.get('idcard').touched"  type="file" class="form-control d-none" id="image-field" (change)="onFileChange($event)" onchange="$('#upload-file-info').html(this.files[0].name)">
							Choose File
						</label>
						<span class='label label-info description-text' id="upload-file-info"></span>
					</div>
				</div>
				<div class="form-group custom-control custom-checkbox">
					<input formControlName="checkbox" type="checkbox" class="custom-control-input" name="checkbox" id="checkbox-input" >
					<label for="checkbox-input" style="font-size:14px" class="custom-control-label description-text" id="checkbox-label">I hereby agree to the terms and Conditions</label>
				</div>

				<br>
				<button [disabled]="!registrationForm.valid" class="btn btn-lg btn-primary submit-button" type="submit"> Submit</button>
			</form>
		</div>
	</div>
</div>

<br><br>
<div class="container">
	<h1 class="section-head">Have Questions? Contact us!</h1>
	<div  class="row">
		<div  *ngFor="let cg of cgs_list" class="col-sm-12 col-md-6 cgcontact">
			<div class="mycard">
				<a href="{{cg.contact}}"><img class="cgimage" src="{{cg.image}}"></a>
				<br><br>
				<h2 class="cgname">{{cg.name}}</h2>
				<p class="cgdescription">{{cg.description}}</p>
				<hr class="cgseparator">
			</div>
		</div>
	</div>

</div>