/******Cover Image*******/

.image img{
	width:100%;
}

@media screen and (max-width:500px){
	.image img{
		width:100%;
		height:35vh;
	}

	.image{
		padding:0px;
	}


}
/********************/
.main-body{
	margin-top:5vh;
	margin-bottom:5vh;
	font-size:14px;
	font-family: 'Lato';
}

.prizes-section{
	margin-top:5vh;
	margin-bottom:10vh;

}

.contactus img{
	height:5vh;
	width:5vh;
	margin: 1vh;
}

.description-text{
	font-size: 12px;
	color:#272a59;
}

.rules-description b{
	color:#272a59;
}

.rules-description h3{
	color:#272a59;
}

.date{
	font-weight:700;
}

.section-head{
	font-family:'Staatliches';
	color:#272a59;
	font-size:38px;
}

.deadline{
	margin-bottom:-3vh;
}

/*********Form Styling************/
.form-label{
	font-family: 'Staatliches';
	color:#272a59;
	font-size:20px;
	margin-bottom:0vh;
}

.form-group input{
	background-color:#d3d4de;
	color:#272a59;
	height:3vh;
}

#image-field{
	background-color: transparent;
	border:none;
	height:auto;
}



.form-control:focus {
  border-color: #272a59;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #d3d4de;
}

.form-group{
	margin-bottom:1vh;
}

.text-danger{
	font-family: 'Lato';
}


#name-input{
	width:20vw;
}

#college-input{
	width:35vw;
}

#city-input{
	width:25vw;
}

#contact-input{
	width:30vw;
}

#email-input{
	width:35vw;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #272a59!important;
  border-color: #272a59;
}

.custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem #272a59;
  border-color: #272a59;
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem #272a59;
  border-color: #272a59;
}
.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  background-color: #272a59; 
  border-color: #272a59;
}




.submit-button{
	font-family: 'Staatliches';
	color:#272a59;
	background-color: #ffffff;
	border-color:#272a59;
}
@media screen and (min-width: 675px){
	.submit-button:hover:enabled{
		background-color:#272a59;
		color: #ffffff;
		transition: 0.2s;
	}
}


/**************CONTACT US**********/
.mycard{
		text-align: center;
}


.cgimage{
	width:60%;
	object-fit: cover;
	border-radius:30px;
	box-shadow:0 8px 16px 0 rgba(128,128,128,0.5);
}

@media screen and (max-width:675px){
	.cgimage{
		width:60%;
		max-height:40vh;
		object-position: top;
	}
}

.cgname{
	color:#272a59;
	font-family: 'Staatliches';
}

.cgdescription{
	font-size:16px;
}

.cgseparator{
	width:40%;
	border:0.5px solid #272a59;
	margin-bottom:4vh;
}

.cgcontact:last-child hr{
	border:none;
}

.fa-phone{
	background-color:#272a59;
	color:#ffffff;
	border-radius:50%;
	transform: translateY(2.7px);
	margin-left:5px;
	padding:10px;
	font-size:16px;
}


@media screen and (max-width:675px){
	.fa-phone{
		margin-left:1.8vw;
		padding:11px;
	}
}

@media screen and (min-width:675px){
	.cgimage:hover{
		box-shadow:0 16px 32px 0 rgba(128,128,128,0.5);
		transform: scale(1.03);
		transition: 0.3s;
	}

	.cgseparator{
		display:none;
	}
}

/*********************************/




@media screen and (max-width:675px){
	.section-head{
		text-align:center;
		font-size:38px;
		margin-left: 0;
	}

/*********Form Styling************/
	#name-input{
	width:40vw;
	}

	#college-input{
		width:70vw;
	}

	#city-input{
		width:50vw;
	}

	#contact-input{
		width:60vw;
	}

	#email-input{
		width:70vw;
	}
	.form-group input{
		padding:0;
		font-size:10px;
	}

/*********************************/

}