
<div class="image" [class.container]="!containerFluid" [class.container-fluid]="containerFluid">
	<img src="{{coverimg}}">
</div>

<div class="container">
	<div class="row">
		<div class="description col-sm-12 col-md-6">
			"In the midst of chaos, there is also opportunity."
Mood Indigo brings forth to you Indoor Indigo, a series of online competitions in various genres to eliminate your boredom and take you to the world of opportunities. 

Pick up your pen, grab your camera, let your voice fly, show your moves, design your thoughts, be a model, tune your instruments, let your ideas flow out through poems and explore the rapper inside you as we got your back!

When the world comes at a halt, art soars through the roofs. Participate and show us the artist inside you!
		</div>
		<div class="col-sm-12 col-md-6">
		</div>
	</div>
</div>

<div [class.container]="!containerFluid" [class.container-fluid]="containerFluid">
	<h1 class="section-head">LET'S GET THIS STARTED</h1>
	<div class="row">
		<div  *ngFor="let competition of competitionslist; let index=index;" class="col-md-12 col-lg-6 card-div">
			<div class="row card-row ml-auto">
				<div class="col-6">
					<div class="image-wrapper">
							<div class="mycard">
								<img [@slideImg]="competition.state" (click)="imgSlide(competition)" class="card-img-top card-img" src="{{competition.image}}" alt="Card image cap">
							</div>
							<div class="image-label" [class.lower-font-size]="competition.id=='2'">
								<h2>{{competition.name | uppercase}}</h2>
							</div>
					</div>
				</div>
				<div [@displayText] *ngIf="competition.state=='s2'" class="col-6 my-auto">
					<div class="description-text">
						{{competition.description}}<br>
						<button *ngIf="index!==5" (click)="rulesNavigate(competition)" class="btn btn-primary btn-sm violet-link">Rules & Registration</button>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>

