/****Experimental****/


/********************/

/******Cover Image*******/
.image img{
	width:100%;
}

@media screen and (max-width:450px){
	.image img{
		width:100%;
		height:35vh;
	}

	.image{
		padding:0;
	}


}
/********************/

.logo{
	height:10vh;
	width:20vw;
}

.logosm{
	height:10vh;
	width:20vw;
	transform:translateX(7vw);
}

.nav-item.text{
	transform:translate3d(10vw,3vh,0);
	font-size:24px;
}

.nav-link.underline{
	font-family:'Staatliches';
	color:#272a59 !important;
	margin:0 10px;
	padding-bottom:0;
}

.nav-link.underline:hover{
	border-bottom:2px solid #4c0a92 ;
}

.description, .description-text{
	font-family:'Lato';
}

.card-img-top{
	border-radius:12px;
}

.mycard{

	border-radius:12px;
	margin:2.5vh auto;
}

.card-img-container{
	padding-left:0;
}

.card-img-inner-container{
	padding-left:0;
}


.mycard img{

	height:45vh;
	object-fit: cover;
}

@media screen and (max-width:675px){
	.mycard img{
		height:45vh;
		object-fit: cover;
	}

}

.image-label{
	transform: translate3d(24px,-65px,0);
	margin-bottom:-15px;
	font-family:'Staatliches';
	color:white;
}

.lower-font-size{
	transform: translate3d(24px,-65px,0);
	margin-bottom:-60px;
}

.card-img{
	box-shadow: 0 5px 10px rgba(128,128,128,0.8);
	height:40vh;
	object-fit: cover;
	width:200%;
}




.section-head{
	font-family:'Staatliches';
	color:#272a59;
	font-size:78px;
	margin-bottom: 0px;
}

.description-text{
	font-size: 16px;
	color:#272a59;
	line-height:1.1;
}

.description {
	font-size: 14px;
	color:#272a59;
	margin-top: 25px;
	margin-bottom: 25px;
}

.violet-link{
	color:#272a59;
	font-family:'Staatliches';
}
.violet-link.btn-primary{
	font-size:20px;
	background-color:#ffffff;
	border-color:#272a59;
	margin-top:12px;
}

/******Disable Hover effects on mobile******/
@media screen and (min-width:675px){
	.mycard img:hover{
		box-shadow: 0 20px 40px 0 rgba(128,128,128,0.8);
		transform: scale(1.03);
		/* transition: 0.5s; */
	}


	.violet-link.btn-primary:hover:enabled{
		background-color:#272a59;
		color:#ffffff;
		transition:0.4s;
	}

	

}
/********************/

@media screen and (max-width:675px){
	.logosm{
		display:none;
	}

	.nav-item.text{
		transform: translate3d(0,0,0) ;
	}

	.nav-link.underline{
		margin-left:0 !important;
	}

	.section-head{
		text-align:center;
		font-size:38px;
		margin-left: 0;
	}

	.image-label h4{
		font-size: 20px;
	}

	.image-label{
		margin-bottom: -40px;
		transform: translate3d(16px,-85px,0);
	}

	/*.lower-font-size{
		transform: translate3d(8px,-85px,0);
	}
*/
	.violet-link.btn-primary{
		font-size:16px;
	}

}



