/****Experimental****/

/********************/

/******Cover Image*******/
.image img{
	width:100%;
}

@media screen and (max-width:675px){
	.image img{
		width:100%;
		height:35vh;
	}

	.image{
		padding:0;
	}


}
/********************/

.logo{
	height:10vh;
	width:20vw;
}

.logosm{
	height:10vh;
	width:20vw;
	transform:translateX(7vw);
}

.nav-item.text{
	transform:translate3d(10vw,3vh,0);
	font-size:24px;
}

.nav-link.underline{
	font-family:'Staatliches';
	color:#272a59 !important;
	margin:0 10px;
	padding-bottom:0;
}

.nav-link.underline:hover{
	border-bottom:2px solid #4c0a92 ;
}



.textbody{
	margin:8vh 0;
	font-size: 14px;
	font-family:'Lato';
	color: #272a59;
}

.card-img-top{
	border-radius:12px;
}

.mycard{

	border-radius:12px;
	margin:2.5vh auto;
}

.mycard img{

	height:45vh;
	object-fit: cover;
}

.image-label{
	transform: translate3d(24px,-85px,0);
	margin-bottom:-65px;
	font-family:'Staatliches';
	color:white;
}


.card-img{
	box-shadow: 0 5px 10px grey;
	height:45vh;
	object-fit: cover;
	width:200%;
}




.section-head{
	font-family:'Staatliches';
	color:#272a59;
	font-size:78px;
}

.description-text{
	font-size: 20px;
	color:#272a59;
	text-align: justify;
}

.violet-link{
	color:#272a59;
	font-family:'Staatliches';
}
.violet-link.btn-primary{
	font-size:20px;
	background-color:#ffffff;
	border-color:#272a59;
	margin-top:12px;
}

/******Disable Hover effects on mobile******/
@media screen and (min-width:675px){
	.mycard:hover{
		box-shadow: 0 20px 40px 0 grey;
		transform: scale(1.03);
		transition: 0.5s;

	}

	.violet-link.btn-primary:hover{
		background-color:#272a59;
		color:#ffffff;
		transition:0.4s;
	}
}
/********************/

@media screen and (max-width:675px){
	.logosm{
		display:none;
	}

	.nav-item.text{
		transform: translate3d(0,0,0) ;
	}

	.nav-link.underline{
		margin-left:0 !important;
	}

	.section-head{
		text-align:center;
		font-size:38px;
		margin-left: 0;
	}

	.image-label h1{
		font-size: 24px;
	}

	.image-label{
		margin-bottom: -40px;
		transform: translate3d(16px,-85px,0);
	}

	.violet-link.btn-primary{
		font-size:16px;
	}
}



