
<div class="image" [class.container]="!containerFluid" [class.container-fluid]="containerFluid">
	<img src="{{coverimg}}">
</div>

<div class="container">
	<div class="row textbody">
		<div class="col-sm-12 col-md-6">
			A core UX principle is that the user should get *instant* feedback about whatever happens in an application. This includes when people are waiting for stuff to load on a website. Going to a site and wait for several seconds (not all live in a first world country with fast internet) can be very confusing because the user is looking at a blank page and isn’t aware of if the page is broken or whether it eventually will load. For this reason, you should always illustrate loading with a loading spinner (or a loading illustration of your choice) to inform the user to…:
		</div>
		<div class="col-sm-12 col-md-6">
		</div>
	</div>
</div>

<div [class.container]="!containerFluid" [class.container-fluid]="containerFluid">
	<h1 class="section-head">LET'S GET THIS STARTED</h1>
	<div class="row">
		<div  *ngFor="let competition of competitionslist" class="col-md-12 col-lg-6 card-div">
			<div class="row card-row ml-auto">
				<div class="col-6">
					<div class="image-wrapper">
							<div class="mycard">
								<img [@slideImg]="competition.state" (click)="imgSlide(competition)" class="card-img-top card-img" src="{{competition.image}}" alt="Card image cap">
							</div>
							<div class="image-label">
								<h1>{{competition.name | uppercase}}</h1>
							</div>
					</div>
				</div>
				<div [@displayText] *ngIf="competition.state=='s2'" class="col-6 my-auto">
					<div class="description-text">
						{{competition.description}}<br>
						<button (click)="rulesNavigate(competition)" class="btn btn-primary btn-sm violet-link">Rules & Registration</button>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>

