
.introPage{
	margin-top: 30vh;
}
.intro-img{
	height:120px;
	width:198.75px;
	overflow:hidden;
}

#intro-img{
	height:100%;
}

.introPageText{
	font-family: 'Staatliches';
	font-size: 48px;
	color: #402652;
	margin-top:5vh;
	opacity:0.7;
}