<div class="container">
	<div [@afterRoll]="positionOnPage" class="introPage container">
		<div class="row">
			<div class="col-12 d-flex justify-content-center">
				<div [@roll]="curStateIntroImg" (click)="changeIntroImageState()" (@roll.done)="getBasePage($event)" class="intro-img" [style.width]="introImgWidth" [style.height]="introImgHeight">
					<img id="intro-img" src="assets/midocs/logowithmasklayer.svg">
				</div>
			</div>
		</div>
	</div>

	<div [@letsGoExit]="'initial'" *ngIf="!showBasePage" class="letsGo container" (click)="changeIntroImageState()">
		<div  class="row">
			<div  class="col-12 d-flex justify-content-center">
				<h1 class="introPageText">Let's Go!</h1>
			</div>
		</div>
	</div>
</div>

<div [@afterRoll]="basePageState" *ngIf="showBasePage" class="base-page" [class.container]="!containerFluid" [class.container-fluid]="containerFluid">
	<div [class.container]="!containerFluid" [class.container-fluid]="containerFluid" class="base-page-another-container">
		<main [@routeAnimations]="prepareRoute(outlet)">
			<router-outlet #outlet="outlet"></router-outlet>
		</main>
		
		<div class="container footer">
			<footer>
					<div class="text-center">
						<a href=""><img  src="assets/midocs/milogo.svg" class="mi-logo"></a>
					</div>
					<br>
					<a href="" class="contactus"><img src="assets/midocs/facebook.svg"></a>
					<a href="" class="contactus"><img src="assets/midocs/instagram.svg"></a>
					<a href="" class="contactus"><img src="assets/midocs/twitter.svg"></a>
					<a href="" class="contactus"><img src="assets/midocs/linkedin.svg"></a>
					<a href="" class="contactus"><img src="assets/midocs/youtube.svg"></a>
					
					
			</footer>
		</div>
	</div>
</div>